<div class="full-wrapper">


	<!-- <div>

		<table>
			<thead>
				<th>foo</th>
			</thead>

			<tbody>
				<tr>
					<td>1</td>
					<td>foo</td>
					<td>foo</td>
					<td>foo</td>
				</tr>
			</tbody>

		</table>

	</div> -->

	<div #panehScroll class="pane pane--table1">

		<div #table (scroll)="onScroll($event)" class="pane-hScroll">

			<table>
				<thead>
					<th *ngFor="let colDef of grid.columnDefs">{{colDef.label}}</th>
				</thead>
			</table>

			<div #panevScroll class="pane-vScroll">
				<table>
					<tbody>
            
						<tr *ngFor="let data of data; let i = index">
							<td *ngFor="let colDef of grid.columnDefs; let i = index">{{data[colDef.name]}}</td>
						</tr>
						
					</tbody>
				</table>
			</div>

		</div>

	</div>

</div>